<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510012734265-85jfcrtssmsa8ogl4qv2torp3ts9ssph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510012734265-85jfcrtssmsa8ogl4qv2torp3ts9ssph</string>
	<key>API_KEY</key>
	<string>AIzaSyDZERwn9kGETX0UkAE5Okd7gzH_4v1UzmU</string>
	<key>GCM_SENDER_ID</key>
	<string>510012734265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliceBko</string>
	<key>PROJECT_ID</key>
	<string>delicebko</string>
	<key>STORAGE_BUCKET</key>
	<string>delicebko.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510012734265:ios:74205aa0d356e348b546e8</string>
	<key>DATABASE_URL</key>
	<string>https://delicebko-default-rtdb.firebaseio.com</string>
</dict>
</plist>